:root{
	--main: #F77067;
	--sec: #F79467;
	--transp: rgba(247, 112, 103, 0.65);
	--back: #2C3746;
	--for: #EFF0F1;
	--inact: #46505D;
}

@media (prefers-color-scheme: dark){
	:root{
		--pref: black;
	}
}

@media (prefers-color-scheme: light){
	:root{
		--pref: white;
	}
}

::-webkit-scrollbar{
	width: 3px;
}

*{
	user-select: none;
	font-family: sans-serif;
}

body,
.inner-body{
	background: var(--back);
	margin: 0px;
	padding: 15px;

	box-sizing: border-box;

	width: 100%;
	height: 100vh;
}

#dialogue-container{
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#dialogue-background{
	position: absolute;

	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;

	transform: translate(-50%, -50%);

	background: rgb(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
}

#dialogue{
	position: fixed;
	width: 60%;
	height: 70%;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border-radius: 10px;
	//overflow-x: hidden;
}

#dialogue_content{
	width: 100%;
	height: 100%;
	border-width: 0;
}

.button,
.bar_button,
.option-button{
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1.5px var(--inact) solid;
	border-radius: 10px;

	color: var(--for);

	font-family: sans-serif;
	padding: 1.5px;
	font-size: 3rem;

	//aspect-ratio: 3/1;
	cursor: pointer;

	transition: background 100ms, border 100ms;
}

.button:hover,
.option-button:hover{
	border: 1.5px var(--sec) solid;
}

.button:active,
.option-button:active,
.option-button.selected{
	border: 1.5px var(--main) solid;
	background: var(--transp);
}

.small-button{
	font-size: 20px;
	border-radius: 5px;
}

.content{
	border: 1.5px var(--main) solid;
	border-radius: 6px;

	color: var(--for);
}

.side-panel{
	width: 15%;
	height: 100%;

	overflow: scroll;
}

.option{
	height: 18px;
	padding: 4px;

	font-size: 1rem;
}

.option:hover{
	background: var(--transp);
}

.option[selected="true"]{
	background: var(--main);
}

.bar{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 5px;
}

.bar_button,
.option-button{
	width: 40px;
	aspect-ratio: 1;

	border-radius: 5px;

	margin-left: 5px;
}

.bar_button:first-child,
.option-button:first-child{
	margin: 0;
}

.color-picker{
	border: none;
	border-radius: 5px;
	background: transparent;
	width: 35px;
	height: 35px;
	outline: none;
}

/*.color-picker::-moz-color-swatch-wrapper,
.color-picker::-webkit-color-swatch-wrapper{
	padding: 0;
	outline: none;
	border: none;
	border-radius: 10px;
	overflow: none;
}*/

.color-picker::-moz-color-swatch,
.color-picker::-webkit-color-swatch{
	border: none;
	border-radius: 7px;
}

a img{
	width: 42px;
	aspect-ratio: 1;
}

img{
	width: 22px;
	aspect-ratio: 1;
	cursor: inherit;

	pointer-events: none;
}
