body{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0 0 15px 0 !important;
}

#bar_container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.tool-bar_tool{
	visibility: collapse;
}

#middle-part_wrapper{
	display: flex;
	justify-content: space-evenly;

	width: 100%;
	height: calc(100% - 74px);
}

#right-side_bar{
	width: 10%;
	padding: 5px;
}

#color-picker_wrapper{
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
}

#switch-colors_btn{
	padding: 5px;
}

#bg-color_selector,
#fg-color_selector{
	/*width: 30px;
	aspect-ratio: 1/1;*/

	padding: 1px;
}

#board_wrapper{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 85%;
	height: 100%;

	overflow: auto;
}

#board{
	background: var(--pref);
}

#effect-board{
	position: absolute;
}
